# thesis/bib/ holds all the papers, websites, etc that I reference, but
# I don't have the right to redistributed those, so they shouldn't be in
# version control
thesis/bib/*
!thesis/bib/good-masters.bib

# TeX
*.toc
*.lof
*.log
*.lot
*.fls
*.pdf
*.out
*.aux
*.toc
*.fmt
*.fot
*.dvi

*.bbl
*.bcf
*.blg
*-blx.bib
*.run.xml
